<?php
/**
 * {{responseClassName}} Search Response Object
 *
 * @package RescueGroups
 * @subpackage Objects
 * @author SourceGenerator
 */
namespace RescueGroups\Objects\Search;

class {{responseClassName}}{{#searchCanExtendEdit}} extends \RescueGroups\Objects\{{responseClassName}}{{/searchCanExtendEdit}} implements \RescueGroups\Objects\APIEncodableInterface
{
    use \RescueGroups\Objects\Traits\APIReadWrite;

    {{# diffFields}}
    /**
     * {{friendlyName}}{{# isKey}}, Primary Key{{/ isKey}}
     *
     * @var {{type}}
     */
    public ${{sdkFieldName}} = null;

    {{/ diffFields}}

    /**
     * Mapping fields
     * @var array
     */
    static private $apiMapping = [
        'id' => '{{# fields}}{{# isKey}}{{sdkFieldName}}{{/ isKey}}{{/ fields}}',
        'input' => [
            {{# fields}}
            '{{name}}' => '{{sdkFieldName}}',
            {{/ fields}}
        ],
        'output' => [
            {{# fields}}
            '{{sdkFieldName}}' => '{{name}}',
            {{/ fields}}
        ]
    ];

    {{^ searchCanExtendEdit}}
    /**
     * {{responseClassName}} Constructor
     * @var \stdClass|null $inputData
     */
    public function __construct($inputData = null)
    {
        if (empty($inputData)) return;

        $this->mapFromAPI($inputData);
    }

    /**
     * Get array mapping for API functions
     *
     * @param bool $includeId
     * @return array
     */
    public function getArray($includeId = true)
    {
        return $this->mapToAPI($includeId);
    }
    {{/ searchCanExtendEdit}}
}